.App {
  display: flex;
  .locComp{
    width: 55%;
    @media (max-width: 1023.98px) {
      width:100% ;
      margin-top: 300px;
      }
  }
  .mapchart{
    width: 45%;
    @media (max-width: 1023.98px) {
      width:100% ;
      }
  }
  @media (max-width: 1023.98px) {
flex-direction: column-reverse;  
}
}
